body {
    margin: 0;
    padding 0;
    box-sizing:  border-box;
}

.header-nav {
    float: right;
}

.header-nav a, .header-nav button {
    margin: 10px;
    color: #000;
    text-decoration: none;
}

.header-nav button {
    background: #4486f9;
    padding: 8px;
    font-size: 15px;
    color: #fff;
    border-radius: 10%;
    font-weight: bold;
}

.logo img {
    width: 500px;
    height: 200px;

}

.search-box input {
    height: 40px;
    width: 444px;
}

.fa-appdrawer {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
}



